body {
	margin: 0;
	background: #f5f6f8;
	font-family: sans-serif;
	flex: 1;
	overflow: hidden;
}

main {
	flex: 1;
	overflow: hidden;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	height: 140px;
	z-index: 15;
	background: #f5f6f8;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	h1 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	input {
		padding: 8px;
		margin-right: 8px;
		border-radius: 8px;
		border: 1px solid #000;
	}

	button {
		border-radius: 8px;
		margin-right: 8px;
		padding: 8px 12px;
		cursor: pointer;
		border: 1px solid #000;
		transition: background-color 0.3s;

		&:hover {
			background: #ddd;
		}
	}
}

.grid {
	&Outer {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	&Wrapper {
		width: 100%;
		max-width: 1200px;
		height: 100%;
		box-sizing: border-box;
	}
}

.card {
	position: relative;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	transition: 0.2s;

	&:hover {
		transform: translateY(-4px);
		box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
	}

	&.selected {
		outline: 3px solid #4caf50;
	}

	img {
		width: 100%;
		height: 140px;
		object-fit: cover;
		display: block;
	}

	p {
		font-size: 12px;
		padding: 6px 8px;
		color: #555;
		height: 36px;
		overflow: hidden;
		line-height: 1.4;
	}

	input {
		position: absolute;
		top: 8px;
		left: 8px;
		z-index: 10;
		transform: scale(1.2);
		cursor: pointer;
	}
}

.modal {
	animation: fadeIn 0.3s ease;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.8);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1000;

	img {
		max-width: 90%;
		max-height: 90%;
		border-radius: 10px;
	}
}
.close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 30px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
